<ion-header>
  <ion-navbar>
    <ion-title>
      Setting
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
   <ion-list>
    <ion-item>           
      <ion-icon name='notifications' item-start></ion-icon>
      <ion-label>Push notifications</ion-label>
      <ion-toggle checked="true" item-end></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name='globe' item-start></ion-icon>
      <ion-label>Language</ion-label>
      <ion-select [(ngModel)]="language" item-end>
	    <ion-option value="en">English</ion-option>
	    <ion-option value="zh_cn">Simple Chinese</ion-option>
	    <ion-option value="tw_cn">Traditional Chinese</ion-option>	      
	  </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name='information-circle' item-start></ion-icon>
      <ion-label>Current version</ion-label>
      <ion-note item-end>{{ version }}</ion-note>
    </ion-item>    
   </ion-list>  	  
  </ion-card>

  <ion-card *ngIf="dtr.isAuthenticated()">
    <ion-list>
      <ion-item-divider>
        My info
        <!-- <button ion-button icon-only clear item-end><ion-icon name="create"></ion-icon></button> -->
      </ion-item-divider>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-note item-end>{{ dtr.getCachedCurrent().fullName }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-note item-end>{{ dtr.getCachedCurrent().email }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Mobile</ion-label>
        <ion-note item-end>{{ dtr.getCachedCurrent().username }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Role</ion-label>
        <ion-note item-end>{{ dtr.getCachedCurrent().roleName }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-content>
        <button ion-button full color="primary" (click)="login()" *ngIf="!dtr.isAuthenticated()"><ion-icon name="log-in"></ion-icon>Login</button>
  	    <button ion-button full color="danger" (click)="logout()" *ngIf="dtr.isAuthenticated()"><ion-icon name="log-out"></ion-icon>Logout</button>
    </ion-card-content>  
  </ion-card>
</ion-content>
