<ion-header>
  <ion-navbar>
    <ion-title>{{"Machines" | translate}} ({{ state | translate }})</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let machine of machines;">
      <ion-item detail-push (click)="showMachine(machine.id)">
        <div padding item-start>        
          <h1>{{machine.MachineNumber}}</h1>
        </div>
        <h2>{{machine.MachineName}} <span *ngIf="machine.BatchName">({{machine.BatchName}})</span></h2>
        <h3 *ngIf="machine.OnLine != 0">{{("MachineState" + machine.MachineState) | translate}}, {{machine.MachineMainTemp}}°C, {{machine.DyeProgNumber}}, {{machine.DyeProgStep}}</h3>
        <h3 *ngIf="machine.OnLine == 0">{{("OnLine" + machine.OnLine) | translate}}</h3>
        <p *ngIf="machine.Main_Alarm > 0" style="color:red;">{{("Main_Alarm" + machine.Main_Alarm) | translate}}</p>      
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>