<ion-header>
  <ion-navbar>
    <ion-title>
      Services
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let office of offices">
    <ion-card-header>
      {{ office.name }}
    </ion-card-header>
    <ion-card-content >      
      <p>{{ office.address }}</p>
      <ion-item no-padding>
        <p>电话：{{ office.tel }}</p>
        <p *ngIf="office.fax">传真：{{ office.fax }}</p>
        <a ion-button clear large item-end [href]="'tel:'+office.tel">
          <ion-icon name="call"></ion-icon>
        </a>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
